@import "../../baseScss/base";

a {
    color: white;

    &:hover {
        color: #bebebe;
    }
}

table {
    margin-top: 2%;
}

thead {
    background-color: $steam-navy;
    color: white;
}

td,
th {
    font-weight: bold;
    font-size: larger;
}

td {
    background-color: $steam-light-blue;
    color: white;
}

.gameBannerImage {
    margin-right: 2%;
    max-width: 120px;
    width: 100%;
    height: auto;
}