@import "../../baseScss/base";

a {
  color: white;

  &:hover {
    color: #bebebe;
  }
}

table {
  border:  2px solid white;
  margin-top: 2%;
}

thead {
  background-color: $steam-navy;
  color: white;
}

td,
th {
  font-weight: bold;
  font-size: larger;
}

td {
  background-color: $steam-light-blue;
  color: white;
}

@media screen and (max-width: 600px) {
  .games-count-text {
    margin-bottom: 20px;
  }
}

.game-banner-image {
  margin-right: 2%;
  max-width: 120px;
  width: 100%;
  height: auto;
  float: left
}

.profile-display {
  display: flex;
}
