@import "../../baseScss/base";

.btn {
    background-color: $steam-light-blue;
    color: white;
    margin-top:1.5rem;
    // &:focus{
    //     background-color: $steam-light-blue !important;
    // }
}