@import "../../baseScss/base";

body {
  min-height: 100%;
  background-color: $steam-dull-blue;
  width: 100%;
}

#headline {
  color: white;
  margin-top: 2%;
  text-align: center;
}

#add-user-button {
  float: right;
}

#user-not-found-warning {
  color: orangered;
  margin-top: 2%;
}