@import "../../baseScss/base";

body {
  min-height: 100%;
  background-color: $steam-dull-blue;
  width: 100%;
}

.user-or-games-not-found-warning {
  color: orange;
  margin-top: 2%;
}

#headline {
  color: white;
  margin-top: 2%;
  text-align: center;
}

#compare-games-button,
#add-user-button {
  background-color: $steam-light-blue;
  color: white;
  margin-top: 1.5rem;
}

#user-input-section {
  // display: inline-flex;
}

#add-user-button {
  float: right;
}